<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="#">
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% include 'warning-modal.html' %} 

        {% if messages %}
            {% load static %}
            <ul class="messages" style="animation: fadeOut 4s;">
                {% for message in messages %}
                    <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                        {{ message }}
                        <button class="close-button" onclick="this.parentElement.style.display='none';">×</button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="spinner-box" class="spinner-border" role="status"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <div class="logo-container">
                    <img src="/media/logo/MTPC_Logo.png" alt="Customize Logo">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products-view' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about-us' %}">About Us</a>
                        </li>
                    </ul>
                    <div class="d-flex navbar-buttons">
                        <button class="btn nav-btn cart-btn" type="button" onclick="location.href='{% url 'cart_summary' %}'">
                            <i class="fas fa-shopping-cart"></i> 
                            <span class="badge cart-quantity-badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                        </button>
                        {% if user.is_authenticated %}
                            <button class="btn nav-btn profile-btn" type="button" onclick="location.href='{% url 'profile' %}'">
                                <i class="bi bi-person"></i> Profile
                            </button>
                            <button class="btn nav-btn login-logout-btn" type="button" onclick="showLogoutConfirmationModal('{% url 'logout' %}')">
                                <i class="bi bi-box-arrow-right"></i> Logout
                            </button>
                        {% else %}
                            <button class="btn nav-btn login-logout-btn" type="button" onclick="location.href='{% url 'login' %}'">
                                <i class="bi bi-box-arrow-in-right"></i> Login
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        {% if breadcrumbs|length > 1 %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for crumb in breadcrumbs %}
                    {% if not forloop.last %}
                        <li class="breadcrumb-item">
                            <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                        </li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">{{ crumb.name }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
        {% endif %}
        
        
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script> 

</body>
</html>
