{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}     
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="{% static 'js/messages.js' %}"></script> 
    <ul class="messages">
        {% for message in messages %}
            <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
                <button class="close-button" onclick="this.parentElement.style.display='none';">×</button>
            </li>
        {% endfor %}
    </ul>
    <div class="login-container">
        <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
